test/fixtures/downloads/finding_api/1/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsd="http://testing-namespace"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xs:schema>

      <xsd:complexType name="AnotherType">
        <xs:sequence>
          <xs:element name="foo" type="xs:string"/>
          <xs:element name="bar" type="xs:string"/>
        </xs:sequence>
      </xsd:complexType>

      <xs:complexType name="Base64BinaryType">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="BooleanType">
        <xs:simpleContent>
          <xs:extension base="xs:boolean">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="ComplexType">
        <xs:complexContent>
          <xs:extension base="tns:AnotherType">
            <xs:sequence>
              <xs:element name="BISH" type="xs:string"/>
              <xs:element name="BOSHBish" type="xs:string"/>
              <xs:element name="BishBosh" type="xs:string"/>
              <xs:element name="foo" type="xs:string"/>
              <xs:element name="eBay" type="xs:string"/>
              <xs:element name="bar" type="xs:string"/>
              <xs:element name="boolean" type="xs:boolean"/>
              <xs:element name="integer" type="xs:int"/>
              <xs:element name="string" type="xs:string"/>
              <xs:element name="token" type="xs:token"/>
              <xs:element name="DateTime" type="xs:dateTime"/>
              <xs:element name="duration" type="xs:duration"/>
              <xs:element name="long" type="xs:long"/>
              <xs:element name="uri" type="xs:anyURI"/>
              <xs:element name="binary" type="xs:base64Binary"/>
              <xs:element name="decimal" type="xs:decimal"/>
              <xs:element name="double" type="xs:double"/>
              <xs:element name="float" type="xs:float"/>
              <xs:element name="time" type="xs:time"/>
              <xs:element name="AnotherType" type="tns:AnotherType"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="DecimalType">
        <xs:simpleContent>
          <xs:extension base="xs:decimal">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="DoubleType">
				<xs:simpleContent>
          <xs:extension base="xs:double">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="IntegerType">
        <xs:simpleContent>
          <xs:extension base="xs:int">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="StringType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="TokenType">
        <xs:simpleContent>
          <xs:extension base="xs:token">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="URIType">
        <xs:simpleContent>
          <xs:extension base="xs:anyURI">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <!-- 
        These elements contain complexType with no names.
        If we transform these by mistake we will end up trying to create two files with 
        the same name which results in the error below.

        Cannot write more than one result document to the same URI
      -->
      <xs:element>
        <xs:complexType>
        </xs:complexType>
      </xs:element>

      <xs:element>
        <xs:complexType>
        </xs:complexType>
      </xs:element>

    </xs:schema>
  </wsdl:types>
</wsdl:definitions>
