wsdls/Fulfillment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:complexType name="Attribute">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AcknowledgeStatusEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="ACKNOWLEDGED"/>
          <xs:enumeration value="UNACKNOWLEDGED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element name="addressLine1" type="xs:string"/>
          <xs:element name="addressLine2" type="xs:string"/>
          <xs:element name="city" type="xs:string"/>
          <xs:element name="countryCode" type="ns:CountryCodeEnum"/>
          <xs:element name="county" type="xs:string"/>
          <xs:element name="postalCode" type="xs:string"/>
          <xs:element name="stateOrProvince" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Amount">
        <xs:sequence>
          <xs:element name="convertedFromCurrency" type="ns:CurrencyCodeEnum"/>
          <xs:element name="convertedFromValue" type="xs:string"/>
          <xs:element name="currency" type="ns:CurrencyCodeEnum"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppliedPromotion">
        <xs:sequence>
          <xs:element name="description" type="xs:string"/>
          <xs:element name="discountAmount" type="ns:Amount"/>
          <xs:element name="promotionId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Buyer">
        <xs:sequence>
          <xs:element name="username" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CountryCodeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="AD"/>
          <xs:enumeration value="AE"/>
          <xs:enumeration value="AF"/>
          <xs:enumeration value="AG"/>
          <xs:enumeration value="AI"/>
          <xs:enumeration value="AL"/>
          <xs:enumeration value="AM"/>
          <xs:enumeration value="AN"/>
          <xs:enumeration value="AO"/>
          <xs:enumeration value="AQ"/>
          <xs:enumeration value="AR"/>
          <xs:enumeration value="AS"/>
          <xs:enumeration value="AT"/>
          <xs:enumeration value="AU"/>
          <xs:enumeration value="AW"/>
          <xs:enumeration value="AX"/>
          <xs:enumeration value="AZ"/>
          <xs:enumeration value="BA"/>
          <xs:enumeration value="BB"/>
          <xs:enumeration value="BD"/>
          <xs:enumeration value="BE"/>
          <xs:enumeration value="BF"/>
          <xs:enumeration value="BG"/>
          <xs:enumeration value="BH"/>
          <xs:enumeration value="BI"/>
          <xs:enumeration value="BJ"/>
          <xs:enumeration value="BL"/>
          <xs:enumeration value="BM"/>
          <xs:enumeration value="BN"/>
          <xs:enumeration value="BO"/>
          <xs:enumeration value="BQ"/>
          <xs:enumeration value="BR"/>
          <xs:enumeration value="BS"/>
          <xs:enumeration value="BT"/>
          <xs:enumeration value="BV"/>
          <xs:enumeration value="BW"/>
          <xs:enumeration value="BY"/>
          <xs:enumeration value="BZ"/>
          <xs:enumeration value="CA"/>
          <xs:enumeration value="CC"/>
          <xs:enumeration value="CD"/>
          <xs:enumeration value="CF"/>
          <xs:enumeration value="CG"/>
          <xs:enumeration value="CH"/>
          <xs:enumeration value="CI"/>
          <xs:enumeration value="CK"/>
          <xs:enumeration value="CL"/>
          <xs:enumeration value="CM"/>
          <xs:enumeration value="CN"/>
          <xs:enumeration value="CO"/>
          <xs:enumeration value="CR"/>
          <xs:enumeration value="CU"/>
          <xs:enumeration value="CV"/>
          <xs:enumeration value="CW"/>
          <xs:enumeration value="CX"/>
          <xs:enumeration value="CY"/>
          <xs:enumeration value="CZ"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="DJ"/>
          <xs:enumeration value="DK"/>
          <xs:enumeration value="DM"/>
          <xs:enumeration value="DO"/>
          <xs:enumeration value="DZ"/>
          <xs:enumeration value="EC"/>
          <xs:enumeration value="EE"/>
          <xs:enumeration value="EG"/>
          <xs:enumeration value="EH"/>
          <xs:enumeration value="ER"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="ET"/>
          <xs:enumeration value="FI"/>
          <xs:enumeration value="FJ"/>
          <xs:enumeration value="FK"/>
          <xs:enumeration value="FM"/>
          <xs:enumeration value="FO"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="GA"/>
          <xs:enumeration value="GB"/>
          <xs:enumeration value="GD"/>
          <xs:enumeration value="GE"/>
          <xs:enumeration value="GF"/>
          <xs:enumeration value="GG"/>
          <xs:enumeration value="GH"/>
          <xs:enumeration value="GI"/>
          <xs:enumeration value="GL"/>
          <xs:enumeration value="GM"/>
          <xs:enumeration value="GN"/>
          <xs:enumeration value="GP"/>
          <xs:enumeration value="GQ"/>
          <xs:enumeration value="GR"/>
          <xs:enumeration value="GS"/>
          <xs:enumeration value="GT"/>
          <xs:enumeration value="GU"/>
          <xs:enumeration value="GW"/>
          <xs:enumeration value="GY"/>
          <xs:enumeration value="HK"/>
          <xs:enumeration value="HM"/>
          <xs:enumeration value="HN"/>
          <xs:enumeration value="HR"/>
          <xs:enumeration value="HT"/>
          <xs:enumeration value="HU"/>
          <xs:enumeration value="ID"/>
          <xs:enumeration value="IE"/>
          <xs:enumeration value="IL"/>
          <xs:enumeration value="IM"/>
          <xs:enumeration value="IN"/>
          <xs:enumeration value="IO"/>
          <xs:enumeration value="IQ"/>
          <xs:enumeration value="IR"/>
          <xs:enumeration value="IS"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="JE"/>
          <xs:enumeration value="JM"/>
          <xs:enumeration value="JO"/>
          <xs:enumeration value="JP"/>
          <xs:enumeration value="KE"/>
          <xs:enumeration value="KG"/>
          <xs:enumeration value="KH"/>
          <xs:enumeration value="KI"/>
          <xs:enumeration value="KM"/>
          <xs:enumeration value="KN"/>
          <xs:enumeration value="KP"/>
          <xs:enumeration value="KR"/>
          <xs:enumeration value="KW"/>
          <xs:enumeration value="KY"/>
          <xs:enumeration value="KZ"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="LB"/>
          <xs:enumeration value="LC"/>
          <xs:enumeration value="LI"/>
          <xs:enumeration value="LK"/>
          <xs:enumeration value="LR"/>
          <xs:enumeration value="LS"/>
          <xs:enumeration value="LT"/>
          <xs:enumeration value="LU"/>
          <xs:enumeration value="LV"/>
          <xs:enumeration value="LY"/>
          <xs:enumeration value="MA"/>
          <xs:enumeration value="MC"/>
          <xs:enumeration value="MD"/>
          <xs:enumeration value="ME"/>
          <xs:enumeration value="MF"/>
          <xs:enumeration value="MG"/>
          <xs:enumeration value="MH"/>
          <xs:enumeration value="MK"/>
          <xs:enumeration value="ML"/>
          <xs:enumeration value="MM"/>
          <xs:enumeration value="MN"/>
          <xs:enumeration value="MO"/>
          <xs:enumeration value="MP"/>
          <xs:enumeration value="MQ"/>
          <xs:enumeration value="MR"/>
          <xs:enumeration value="MS"/>
          <xs:enumeration value="MT"/>
          <xs:enumeration value="MU"/>
          <xs:enumeration value="MV"/>
          <xs:enumeration value="MW"/>
          <xs:enumeration value="MX"/>
          <xs:enumeration value="MY"/>
          <xs:enumeration value="MZ"/>
          <xs:enumeration value="NA"/>
          <xs:enumeration value="NC"/>
          <xs:enumeration value="NE"/>
          <xs:enumeration value="NF"/>
          <xs:enumeration value="NG"/>
          <xs:enumeration value="NI"/>
          <xs:enumeration value="NL"/>
          <xs:enumeration value="NO"/>
          <xs:enumeration value="NP"/>
          <xs:enumeration value="NR"/>
          <xs:enumeration value="NU"/>
          <xs:enumeration value="NZ"/>
          <xs:enumeration value="OM"/>
          <xs:enumeration value="PA"/>
          <xs:enumeration value="PE"/>
          <xs:enumeration value="PF"/>
          <xs:enumeration value="PG"/>
          <xs:enumeration value="PH"/>
          <xs:enumeration value="PK"/>
          <xs:enumeration value="PL"/>
          <xs:enumeration value="PM"/>
          <xs:enumeration value="PN"/>
          <xs:enumeration value="PR"/>
          <xs:enumeration value="PS"/>
          <xs:enumeration value="PT"/>
          <xs:enumeration value="PW"/>
          <xs:enumeration value="PY"/>
          <xs:enumeration value="QA"/>
          <xs:enumeration value="RE"/>
          <xs:enumeration value="RO"/>
          <xs:enumeration value="RS"/>
          <xs:enumeration value="RU"/>
          <xs:enumeration value="RW"/>
          <xs:enumeration value="SA"/>
          <xs:enumeration value="SB"/>
          <xs:enumeration value="SC"/>
          <xs:enumeration value="SD"/>
          <xs:enumeration value="SE"/>
          <xs:enumeration value="SG"/>
          <xs:enumeration value="SH"/>
          <xs:enumeration value="SI"/>
          <xs:enumeration value="SJ"/>
          <xs:enumeration value="SK"/>
          <xs:enumeration value="SL"/>
          <xs:enumeration value="SM"/>
          <xs:enumeration value="SN"/>
          <xs:enumeration value="SO"/>
          <xs:enumeration value="SR"/>
          <xs:enumeration value="ST"/>
          <xs:enumeration value="SV"/>
          <xs:enumeration value="SX"/>
          <xs:enumeration value="SY"/>
          <xs:enumeration value="SZ"/>
          <xs:enumeration value="TC"/>
          <xs:enumeration value="TD"/>
          <xs:enumeration value="TF"/>
          <xs:enumeration value="TG"/>
          <xs:enumeration value="TH"/>
          <xs:enumeration value="TJ"/>
          <xs:enumeration value="TK"/>
          <xs:enumeration value="TL"/>
          <xs:enumeration value="TM"/>
          <xs:enumeration value="TN"/>
          <xs:enumeration value="TO"/>
          <xs:enumeration value="TR"/>
          <xs:enumeration value="TT"/>
          <xs:enumeration value="TV"/>
          <xs:enumeration value="TW"/>
          <xs:enumeration value="TZ"/>
          <xs:enumeration value="UA"/>
          <xs:enumeration value="UG"/>
          <xs:enumeration value="UM"/>
          <xs:enumeration value="US"/>
          <xs:enumeration value="UY"/>
          <xs:enumeration value="UZ"/>
          <xs:enumeration value="VA"/>
          <xs:enumeration value="VC"/>
          <xs:enumeration value="VE"/>
          <xs:enumeration value="VG"/>
          <xs:enumeration value="VI"/>
          <xs:enumeration value="VN"/>
          <xs:enumeration value="VU"/>
          <xs:enumeration value="WF"/>
          <xs:enumeration value="WS"/>
          <xs:enumeration value="YE"/>
          <xs:enumeration value="YT"/>
          <xs:enumeration value="ZA"/>
          <xs:enumeration value="ZM"/>
          <xs:enumeration value="ZW"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CurrencyCodeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="AED"/>
          <xs:enumeration value="AFN"/>
          <xs:enumeration value="ALL"/>
          <xs:enumeration value="AMD"/>
          <xs:enumeration value="ANG"/>
          <xs:enumeration value="AOA"/>
          <xs:enumeration value="ARS"/>
          <xs:enumeration value="AUD"/>
          <xs:enumeration value="AWG"/>
          <xs:enumeration value="AZN"/>
          <xs:enumeration value="BAM"/>
          <xs:enumeration value="BBD"/>
          <xs:enumeration value="BDT"/>
          <xs:enumeration value="BGN"/>
          <xs:enumeration value="BHD"/>
          <xs:enumeration value="BIF"/>
          <xs:enumeration value="BMD"/>
          <xs:enumeration value="BND"/>
          <xs:enumeration value="BOB"/>
          <xs:enumeration value="BRL"/>
          <xs:enumeration value="BSD"/>
          <xs:enumeration value="BTN"/>
          <xs:enumeration value="BWP"/>
          <xs:enumeration value="BYR"/>
          <xs:enumeration value="BZD"/>
          <xs:enumeration value="CAD"/>
          <xs:enumeration value="CDF"/>
          <xs:enumeration value="CHF"/>
          <xs:enumeration value="CLP"/>
          <xs:enumeration value="CNY"/>
          <xs:enumeration value="COP"/>
          <xs:enumeration value="CRC"/>
          <xs:enumeration value="CUP"/>
          <xs:enumeration value="CVE"/>
          <xs:enumeration value="CZK"/>
          <xs:enumeration value="DJF"/>
          <xs:enumeration value="DKK"/>
          <xs:enumeration value="DOP"/>
          <xs:enumeration value="DZD"/>
          <xs:enumeration value="EGP"/>
          <xs:enumeration value="ERN"/>
          <xs:enumeration value="ETB"/>
          <xs:enumeration value="EUR"/>
          <xs:enumeration value="FJD"/>
          <xs:enumeration value="FKP"/>
          <xs:enumeration value="GBP"/>
          <xs:enumeration value="GEL"/>
          <xs:enumeration value="GHS"/>
          <xs:enumeration value="GIP"/>
          <xs:enumeration value="GMD"/>
          <xs:enumeration value="GNF"/>
          <xs:enumeration value="GTQ"/>
          <xs:enumeration value="GYD"/>
          <xs:enumeration value="HKD"/>
          <xs:enumeration value="HNL"/>
          <xs:enumeration value="HRK"/>
          <xs:enumeration value="HTG"/>
          <xs:enumeration value="HUF"/>
          <xs:enumeration value="IDR"/>
          <xs:enumeration value="ILS"/>
          <xs:enumeration value="INR"/>
          <xs:enumeration value="IQD"/>
          <xs:enumeration value="IRR"/>
          <xs:enumeration value="ISK"/>
          <xs:enumeration value="JMD"/>
          <xs:enumeration value="JOD"/>
          <xs:enumeration value="JPY"/>
          <xs:enumeration value="KES"/>
          <xs:enumeration value="KGS"/>
          <xs:enumeration value="KHR"/>
          <xs:enumeration value="KMF"/>
          <xs:enumeration value="KPW"/>
          <xs:enumeration value="KRW"/>
          <xs:enumeration value="KWD"/>
          <xs:enumeration value="KYD"/>
          <xs:enumeration value="KZT"/>
          <xs:enumeration value="LAK"/>
          <xs:enumeration value="LBP"/>
          <xs:enumeration value="LKR"/>
          <xs:enumeration value="LRD"/>
          <xs:enumeration value="LSL"/>
          <xs:enumeration value="LTL"/>
          <xs:enumeration value="LYD"/>
          <xs:enumeration value="MAD"/>
          <xs:enumeration value="MDL"/>
          <xs:enumeration value="MGA"/>
          <xs:enumeration value="MKD"/>
          <xs:enumeration value="MMK"/>
          <xs:enumeration value="MNT"/>
          <xs:enumeration value="MOP"/>
          <xs:enumeration value="MRO"/>
          <xs:enumeration value="MUR"/>
          <xs:enumeration value="MVR"/>
          <xs:enumeration value="MWK"/>
          <xs:enumeration value="MXN"/>
          <xs:enumeration value="MYR"/>
          <xs:enumeration value="MZN"/>
          <xs:enumeration value="NAD"/>
          <xs:enumeration value="NGN"/>
          <xs:enumeration value="NIO"/>
          <xs:enumeration value="NOK"/>
          <xs:enumeration value="NPR"/>
          <xs:enumeration value="NZD"/>
          <xs:enumeration value="OMR"/>
          <xs:enumeration value="PAB"/>
          <xs:enumeration value="PEN"/>
          <xs:enumeration value="PGK"/>
          <xs:enumeration value="PHP"/>
          <xs:enumeration value="PKR"/>
          <xs:enumeration value="PLN"/>
          <xs:enumeration value="PYG"/>
          <xs:enumeration value="QAR"/>
          <xs:enumeration value="RON"/>
          <xs:enumeration value="RSD"/>
          <xs:enumeration value="RUB"/>
          <xs:enumeration value="RWF"/>
          <xs:enumeration value="SAR"/>
          <xs:enumeration value="SBD"/>
          <xs:enumeration value="SCR"/>
          <xs:enumeration value="SDG"/>
          <xs:enumeration value="SEK"/>
          <xs:enumeration value="SGD"/>
          <xs:enumeration value="SHP"/>
          <xs:enumeration value="SLL"/>
          <xs:enumeration value="SOS"/>
          <xs:enumeration value="SRD"/>
          <xs:enumeration value="STD"/>
          <xs:enumeration value="SYP"/>
          <xs:enumeration value="SZL"/>
          <xs:enumeration value="THB"/>
          <xs:enumeration value="TJS"/>
          <xs:enumeration value="TMT"/>
          <xs:enumeration value="TND"/>
          <xs:enumeration value="TOP"/>
          <xs:enumeration value="TRY"/>
          <xs:enumeration value="TTD"/>
          <xs:enumeration value="TWD"/>
          <xs:enumeration value="TZS"/>
          <xs:enumeration value="UAH"/>
          <xs:enumeration value="UGX"/>
          <xs:enumeration value="USD"/>
          <xs:enumeration value="UYU"/>
          <xs:enumeration value="UZS"/>
          <xs:enumeration value="VEF"/>
          <xs:enumeration value="VND"/>
          <xs:enumeration value="VUV"/>
          <xs:enumeration value="WST"/>
          <xs:enumeration value="XAF"/>
          <xs:enumeration value="XCD"/>
          <xs:enumeration value="XOF"/>
          <xs:enumeration value="XPF"/>
          <xs:enumeration value="YER"/>
          <xs:enumeration value="ZAR"/>
          <xs:enumeration value="ZMW"/>
          <xs:enumeration value="ZWL"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CancelRequest">
        <xs:sequence>
          <xs:element name="cancelCompletedDate" type="xs:string"/>
          <xs:element name="cancelInitiator" type="xs:string"/>
          <xs:element name="cancelReason" type="xs:string"/>
          <xs:element name="cancelRequestedDate" type="xs:string"/>
          <xs:element name="cancelRequestId" type="xs:string"/>
          <xs:element name="cancelRequestState" type="ns:CancelRequestStateEnum"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CancelRequestStateEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="COMPLETED"/>
          <xs:enumeration value="REJECTED"/>
          <xs:enumeration value="REQUESTED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CancelStateEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="CANCELED"/>
          <xs:enumeration value="IN_PROGRESS"/>
          <xs:enumeration value="NONE_REQUESTED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CancelStatus">
        <xs:sequence>
          <xs:element name="cancelledDate" type="xs:string"/>
          <xs:element name="cancelRequests" type="ns:CancelRequest" maxOccurs="unbounded"/>
          <xs:element name="cancelState" type="ns:CancelStateEnum"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element name="companyName" type="xs:string"/>
          <xs:element name="contactAddress" type="ns:Address"/>
          <xs:element name="fullName" type="xs:string"/>
          <xs:element name="primaryPhone" type="ns:PhoneNumber"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryCost">
        <xs:sequence>
          <xs:element name="importCharges" type="ns:Amount"/>
          <xs:element name="shippingCost" type="ns:Amount"/>
          <xs:element name="shippingIntermediationFee" type="ns:Amount"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorDetailV3">
        <xs:sequence>
          <xs:element name="category" type="xs:string"/>
          <xs:element name="domain" type="xs:string"/>
          <xs:element name="errorId" type="xs:integer"/>
          <xs:element name="inputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="longMessage" type="xs:string"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="outputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="parameters" type="ns:ErrorParameterV3" maxOccurs="unbounded"/>
          <xs:element name="subdomain" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorParameterV3">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FilterField">
        <xs:sequence>
          <xs:element name="field" type="xs:string"/>
          <xs:element name="range" type="ns:RangeValue"/>
          <xs:element name="set" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Fee">
        <xs:sequence>
          <xs:element name="amount" type="ns:Amount"/>
          <xs:element name="description" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="FinalDestinationTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="BUYER_LOCATION"/>
          <xs:enumeration value="BUYER_PICKUP_LOCATION"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="FulfillmentInstructionsType">
        <xs:restriction base="xs:token">
          <xs:enumeration value="DIGITAL"/>
          <xs:enumeration value="PREPARE_FOR_PICKUP"/>
          <xs:enumeration value="SELLER_DEFINED"/>
          <xs:enumeration value="SHIP_TO"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="FulfillmentStartInstruction">
        <xs:sequence>
          <xs:element name="ebaySupportedFulfillment" type="xs:boolean"/>
          <xs:element name="finalDestinationAddress" type="ns:Address"/>
          <xs:element name="fulfillmentInstructionsType" type="ns:FulfillmentInstructionsType"/>
          <xs:element name="maxEstimatedDeliveryDate" type="xs:string"/>
          <xs:element name="minEstimatedDeliveryDate" type="xs:string"/>
          <xs:element name="shippingStep" type="ns:ShippingStep"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GiftDetails">
        <xs:sequence>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="recipientEmail" type="xs:string"/>
          <xs:element name="senderName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LineItem">
        <xs:sequence>
          <xs:element name="appliedPromotions" type="ns:AppliedPromotion" maxOccurs="unbounded"/>
          <xs:element name="deliveryCost" type="ns:DeliveryCost"/>
          <xs:element name="discountedLineItemCost" type="ns:Amount"/>
          <xs:element name="giftDetails" type="ns:GiftDetails"/>
          <xs:element name="legacyItemId" type="xs:string"/>
          <xs:element name="legacyVariationId" type="xs:string"/>
          <xs:element name="lineItemCost" type="ns:Amount"/>
          <xs:element name="lineItemFulfillmentInstructions" type="ns:LineItemFulfillmentInstructions"/>
          <xs:element name="lineItemFulfillmentStatus" type="ns:LineItemFulfillmentStatusEnum"/>
          <xs:element name="lineItemId" type="xs:string"/>
          <xs:element name="listingMarketplaceId" type="ns:MarketplaceIdEnum"/>
          <xs:element name="properties" type="ns:LineItemProperties"/>
          <xs:element name="purchaseMarketplaceId" type="ns:MarketplaceIdEnum"/>
          <xs:element name="quantity" type="xs:integer"/>
          <xs:element name="refunds" type="ns:LineItemRefund" maxOccurs="unbounded"/>
          <xs:element name="sku" type="xs:string"/>
          <xs:element name="soldFormat" type="ns:SoldFormatEnum"/>
          <xs:element name="taxes" type="ns:Tax" maxOccurs="unbounded"/>
          <xs:element name="title" type="xs:string"/>
          <xs:element name="total" type="ns:Amount"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LineItemFulfillmentInstructions">
        <xs:sequence>
          <xs:element name="guaranteedDelivery" type="xs:boolean"/>
          <xs:element name="maxEstimatedDeliveryDate" type="xs:string"/>
          <xs:element name="minEstimatedDeliveryDate" type="xs:string"/>
          <xs:element name="shipByDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="LineItemFulfillmentStatusEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="FULFILLED"/>
          <xs:enumeration value="NOT_STARTED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="LineItemProperties">
        <xs:sequence>
          <xs:element name="buyerProtection" type="xs:boolean"/>
          <xs:element name="fromBestOffer" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LineItemReference">
        <xs:sequence>
          <xs:element name="lineItemId" type="xs:string"/>
          <xs:element name="quantity" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LineItemRefund">
        <xs:sequence>
          <xs:element name="amount" type="ns:Amount"/>
          <xs:element name="refundDate" type="xs:string"/>
          <xs:element name="refundReferenceId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="MarketplaceIdEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="EBAY_AT"/>
          <xs:enumeration value="EBAY_AU"/>
          <xs:enumeration value="EBAY_BE"/>
          <xs:enumeration value="EBAY_CA"/>
          <xs:enumeration value="EBAY_CH"/>
          <xs:enumeration value="EBAY_CN"/>
          <xs:enumeration value="EBAY_CZ"/>
          <xs:enumeration value="EBAY_DE"/>
          <xs:enumeration value="EBAY_DK"/>
          <xs:enumeration value="EBAY_ES"/>
          <xs:enumeration value="EBAY_FI"/>
          <xs:enumeration value="EBAY_FR"/>
          <xs:enumeration value="EBAY_GB"/>
          <xs:enumeration value="EBAY_GR"/>
          <xs:enumeration value="EBAY_HALF_US"/>
          <xs:enumeration value="EBAY_HK"/>
          <xs:enumeration value="EBAY_HU"/>
          <xs:enumeration value="EBAY_ID"/>
          <xs:enumeration value="EBAY_IE"/>
          <xs:enumeration value="EBAY_IL"/>
          <xs:enumeration value="EBAY_IN"/>
          <xs:enumeration value="EBAY_IT"/>
          <xs:enumeration value="EBAY_JP"/>
          <xs:enumeration value="EBAY_MOTORS_US"/>
          <xs:enumeration value="EBAY_MY"/>
          <xs:enumeration value="EBAY_NL"/>
          <xs:enumeration value="EBAY_NO"/>
          <xs:enumeration value="EBAY_NZ"/>
          <xs:enumeration value="EBAY_PE"/>
          <xs:enumeration value="EBAY_PH"/>
          <xs:enumeration value="EBAY_PL"/>
          <xs:enumeration value="EBAY_PR"/>
          <xs:enumeration value="EBAY_PT"/>
          <xs:enumeration value="EBAY_RU"/>
          <xs:enumeration value="EBAY_SE"/>
          <xs:enumeration value="EBAY_SG"/>
          <xs:enumeration value="EBAY_TH"/>
          <xs:enumeration value="EBAY_TW"/>
          <xs:enumeration value="EBAY_US"/>
          <xs:enumeration value="EBAY_VN"/>
          <xs:enumeration value="EBAY_ZA"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Order">
        <xs:sequence>
          <xs:element name="buyer" type="ns:Buyer"/>
          <xs:element name="buyerCheckoutNotes" type="xs:string"/>
          <xs:element name="cancelStatus" type="ns:CancelStatus"/>
          <xs:element name="creationDate" type="xs:string"/>
          <xs:element name="fulfillmentHrefs" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="fulfillmentStartInstructions" type="ns:FulfillmentStartInstruction" maxOccurs="unbounded"/>
          <xs:element name="lastModifiedDate" type="xs:string"/>
          <xs:element name="lineItems" type="ns:LineItem" maxOccurs="unbounded"/>
          <xs:element name="orderFulfillmentStatus" type="ns:OrderFulfillmentStatus"/>
          <xs:element name="orderId" type="xs:string"/>
          <xs:element name="orderPaymentStatus" type="ns:OrderPaymentStatusEnum"/>
          <xs:element name="paymentSummary" type="ns:PaymentSummary"/>
          <xs:element name="pricingSummary" type="ns:PricingSummary"/>
          <xs:element name="sellerId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="OrderFulfillmentStatus">
        <xs:restriction base="xs:token">
          <xs:enumeration value="FULFILLED"/>
          <xs:enumeration value="IN_PROGRESS"/>
          <xs:enumeration value="NOT_STARTED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="OrderPaymentStatusEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="FAILED"/>
          <xs:enumeration value="FULLY_REFUNDED"/>
          <xs:enumeration value="NOT_APPLICABLE"/>
          <xs:enumeration value="PAID"/>
          <xs:enumeration value="PARTIALLY_REFUNDED"/>
          <xs:enumeration value="PENDING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="OrderRefund">
        <xs:sequence>
          <xs:element name="amount" type="ns:Amount"/>
          <xs:element name="refundDate" type="xs:string"/>
          <xs:element name="refundReferenceId" type="xs:string"/>
          <xs:element name="refundStatus" type="ns:RefundStatusEnum"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderSearchPagedCollection">
        <xs:sequence>
          <xs:element name="href" type="xs:string"/>
          <xs:element name="limit" type="xs:integer"/>
          <xs:element name="next" type="xs:string"/>
          <xs:element name="offset" type="xs:integer"/>
          <xs:element name="orders" type="ns:Order" maxOccurs="unbounded"/>
          <xs:element name="prev" type="xs:string"/>
          <xs:element name="total" type="xs:integer"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PhoneNumber">
        <xs:sequence>
          <xs:element name="phoneNumber" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Payment">
        <xs:sequence>
          <xs:element name="amount" type="ns:Amount"/>
          <xs:element name="paymentDate" type="xs:string"/>
          <xs:element name="paymentHolds" type="ns:PaymentHold" maxOccurs="unbounded"/>
          <xs:element name="paymentMethod" type="ns:PaymentMethodTypeEnum"/>
          <xs:element name="paymentMode" type="ns:PaymentModeTypeEnum"/>
          <xs:element name="paymentReferenceId" type="xs:string"/>
          <xs:element name="paymentStatus" type="ns:PaymentStatusEnum"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentHold">
        <xs:sequence>
          <xs:element name="expectedReleaseDate" type="xs:string"/>
          <xs:element name="holdAmount" type="ns:Amount"/>
          <xs:element name="holdReason" type="xs:string"/>
          <xs:element name="holdState" type="xs:string"/>
          <xs:element name="releaseDate" type="xs:string"/>
          <xs:element name="sellerActionsToRelease" type="ns:SellerActionsToRelease" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PaymentMethodTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="BANK_TRANSFER"/>
          <xs:enumeration value="CASH"/>
          <xs:enumeration value="CREDIT_CARD"/>
          <xs:enumeration value="OFFICIAL_CHECK"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="PAISAPAY"/>
          <xs:enumeration value="PAYPAL"/>
          <xs:enumeration value="PERSONAL_CHECK"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PaymentModeTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="OFF_LINE"/>
          <xs:enumeration value="ONLINE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PaymentStatusEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="FAILED"/>
          <xs:enumeration value="NOT_APPLICABLE"/>
          <xs:enumeration value="PAID"/>
          <xs:enumeration value="PENDING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PaymentSummary">
        <xs:sequence>
          <xs:element name="payments" type="ns:Payment" maxOccurs="unbounded"/>
          <xs:element name="refunds" type="ns:OrderRefund" maxOccurs="unbounded"/>
          <xs:element name="totalDueSeller" type="ns:Amount"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PricingSummary">
        <xs:sequence>
          <xs:element name="adjustment" type="ns:Amount"/>
          <xs:element name="deliveryCost" type="ns:Amount"/>
          <xs:element name="deliveryDiscount" type="ns:Amount"/>
          <xs:element name="fee" type="ns:Amount"/>
          <xs:element name="priceDiscountSubtotal" type="ns:Amount"/>
          <xs:element name="priceSubtotal" type="ns:Amount"/>
          <xs:element name="tax" type="ns:Amount"/>
          <xs:element name="total" type="ns:Amount"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RangeValue">
        <xs:sequence>
          <xs:element name="end" type="xs:string"/>
          <xs:element name="exclusiveEnd" type="xs:boolean"/>
          <xs:element name="exclusiveStart" type="xs:boolean"/>
          <xs:element name="range" type="xs:boolean"/>
          <xs:element name="start" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="RefundStatusEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="FAILED"/>
          <xs:enumeration value="PENDING"/>
          <xs:enumeration value="REFUNDED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RefundTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="PAYMENT_REFUND"/>
          <xs:enumeration value="STORE_CREDIT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="SellerActionsToRelease">
        <xs:sequence>
          <xs:element name="sellerActionToRelease" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShippingFulfillment">
        <xs:sequence>
          <xs:element name="fulfillmentId" type="xs:string"/>
          <xs:element name="lineItems" type="ns:LineItemReference" maxOccurs="unbounded"/>
          <xs:element name="shipmentTrackingNumber" type="xs:string"/>
          <xs:element name="shippedDate" type="xs:string"/>
          <xs:element name="shippingCarrierCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShippingFulfillmentDetails">
        <xs:sequence>
          <xs:element name="lineItems" type="ns:LineItemReference" maxOccurs="unbounded"/>
          <xs:element name="shippedDate" type="xs:string"/>
          <xs:element name="shippingCarrierCode" type="xs:string"/>
          <xs:element name="trackingNumber" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShippingFulfillmentPagedCollection">
        <xs:sequence>
          <xs:element name="fulfillments" type="ns:ShippingFulfillment" maxOccurs="unbounded"/>
          <xs:element name="total" type="xs:integer"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShippingStep">
        <xs:sequence>
          <xs:element name="shippingCarrierCode" type="xs:string"/>
          <xs:element name="shippingServiceCode" type="xs:string"/>
          <xs:element name="shipTo" type="ns:Contact"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SoldFormatEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="AUCTION"/>
          <xs:enumeration value="FIXED_PRICE"/>
          <xs:enumeration value="OTHER"/>
          <xs:enumeration value="SECOND_CHANCE_OFFER"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Tax">
        <xs:sequence>
          <xs:element name="amount" type="ns:Amount"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetOrdersRestRequest" type="ns:GetOrdersRestRequest"/>
      <xs:element name="GetOrdersRestResponse" type="ns:GetOrdersRestResponse"/>
      <xs:complexType name="GetOrdersRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="limit" type="xs:string" valid="string"/>
          <xs:element name="offset" type="xs:string" valid="string"/>
          <xs:element name="orderIds" type="xs:string" valid="string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetOrdersRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:OrderSearchPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAnOrderRestRequest" type="ns:GetAnOrderRestRequest"/>
      <xs:element name="GetAnOrderRestResponse" type="ns:GetAnOrderRestResponse"/>
      <xs:complexType name="GetAnOrderRestRequest">
        <xs:sequence>
          <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAnOrderRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:Order">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="CreateAShippingFulfillmentRestRequest" type="ns:CreateAShippingFulfillmentRestRequest"/>
      <xs:element name="CreateAShippingFulfillmentRestResponse" type="ns:CreateAShippingFulfillmentRestResponse"/>
      <xs:complexType name="CreateAShippingFulfillmentRestRequest">
        <xs:complexContent>
          <xs:extension base="ns:ShippingFulfillmentDetails">
            <xs:sequence>
              <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateAShippingFulfillmentRestResponse" restResponse="true">
        <xs:sequence>
          <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetShippingFulfillmentsRestRequest" type="ns:GetShippingFulfillmentsRestRequest"/>
      <xs:element name="GetShippingFulfillmentsRestResponse" type="ns:GetShippingFulfillmentsRestResponse"/>
      <xs:complexType name="GetShippingFulfillmentsRestRequest">
        <xs:sequence>
          <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetShippingFulfillmentsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ShippingFulfillmentPagedCollection">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetAShippingFulfillmentRestRequest" type="ns:GetAShippingFulfillmentRestRequest"/>
      <xs:element name="GetAShippingFulfillmentRestResponse" type="ns:GetAShippingFulfillmentRestResponse"/>
      <xs:complexType name="GetAShippingFulfillmentRestRequest">
        <xs:sequence>
          <xs:element name="fulfillmentId" type="xs:string" valid="string" required="true"/>
          <xs:element name="orderId" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAShippingFulfillmentRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ShippingFulfillment">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetOrders" method="GET" resource="order">
      <wsdl:input message="ns:GetOrdersRestRequest"/>
      <wsdl:output message="ns:GetOrdersRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAnOrder" method="GET" resource="order/{orderId}">
      <wsdl:input message="ns:GetAnOrderRestRequest"/>
      <wsdl:output message="ns:GetAnOrderRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="CreateAShippingFulfillment" method="POST" resource="order/{orderId}/shipping_fulfillment">
      <wsdl:input message="ns:CreateAShippingFulfillmentRestRequest"/>
      <wsdl:output message="ns:CreateAShippingFulfillmentRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetShippingFulfillments" method="GET" resource="order/{orderId}/shipping_fulfillment">
      <wsdl:input message="ns:GetShippingFulfillmentsRestRequest"/>
      <wsdl:output message="ns:GetShippingFulfillmentsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetAShippingFulfillment" method="GET" resource="order/{orderId}/shipping_fulfillment/{fulfillmentId}">
      <wsdl:input message="ns:GetAShippingFulfillmentRestRequest"/>
      <wsdl:output message="ns:GetAShippingFulfillmentRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
