wsdls/Metadata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:complexType name="AutomotivePartsCompatibilityPolicy">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="compatibilityBasedOn" type="ns:CompatibilityTypeEnum"/>
          <xs:element name="compatibleVehicleTypes" type="ns:CompatibleVehicleTypeEnum" maxOccurs="unbounded"/>
          <xs:element name="maxNumberOfCompatibleVehicles" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AutomotivePartsCompatibilityPolicyResponse">
        <xs:sequence>
          <xs:element name="automotivePartsCompatibilityPolicies" type="ns:AutomotivePartsCompatibilityPolicy" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CountryCodeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="AD"/>
          <xs:enumeration value="AE"/>
          <xs:enumeration value="AF"/>
          <xs:enumeration value="AG"/>
          <xs:enumeration value="AI"/>
          <xs:enumeration value="AL"/>
          <xs:enumeration value="AM"/>
          <xs:enumeration value="AN"/>
          <xs:enumeration value="AO"/>
          <xs:enumeration value="AQ"/>
          <xs:enumeration value="AR"/>
          <xs:enumeration value="AS"/>
          <xs:enumeration value="AT"/>
          <xs:enumeration value="AU"/>
          <xs:enumeration value="AW"/>
          <xs:enumeration value="AX"/>
          <xs:enumeration value="AZ"/>
          <xs:enumeration value="BA"/>
          <xs:enumeration value="BB"/>
          <xs:enumeration value="BD"/>
          <xs:enumeration value="BE"/>
          <xs:enumeration value="BF"/>
          <xs:enumeration value="BG"/>
          <xs:enumeration value="BH"/>
          <xs:enumeration value="BI"/>
          <xs:enumeration value="BJ"/>
          <xs:enumeration value="BL"/>
          <xs:enumeration value="BM"/>
          <xs:enumeration value="BN"/>
          <xs:enumeration value="BO"/>
          <xs:enumeration value="BQ"/>
          <xs:enumeration value="BR"/>
          <xs:enumeration value="BS"/>
          <xs:enumeration value="BT"/>
          <xs:enumeration value="BV"/>
          <xs:enumeration value="BW"/>
          <xs:enumeration value="BY"/>
          <xs:enumeration value="BZ"/>
          <xs:enumeration value="CA"/>
          <xs:enumeration value="CC"/>
          <xs:enumeration value="CD"/>
          <xs:enumeration value="CF"/>
          <xs:enumeration value="CG"/>
          <xs:enumeration value="CH"/>
          <xs:enumeration value="CI"/>
          <xs:enumeration value="CK"/>
          <xs:enumeration value="CL"/>
          <xs:enumeration value="CM"/>
          <xs:enumeration value="CN"/>
          <xs:enumeration value="CO"/>
          <xs:enumeration value="CR"/>
          <xs:enumeration value="CU"/>
          <xs:enumeration value="CV"/>
          <xs:enumeration value="CW"/>
          <xs:enumeration value="CX"/>
          <xs:enumeration value="CY"/>
          <xs:enumeration value="CZ"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="DJ"/>
          <xs:enumeration value="DK"/>
          <xs:enumeration value="DM"/>
          <xs:enumeration value="DO"/>
          <xs:enumeration value="DZ"/>
          <xs:enumeration value="EC"/>
          <xs:enumeration value="EE"/>
          <xs:enumeration value="EG"/>
          <xs:enumeration value="EH"/>
          <xs:enumeration value="ER"/>
          <xs:enumeration value="ES"/>
          <xs:enumeration value="ET"/>
          <xs:enumeration value="FI"/>
          <xs:enumeration value="FJ"/>
          <xs:enumeration value="FK"/>
          <xs:enumeration value="FM"/>
          <xs:enumeration value="FO"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="GA"/>
          <xs:enumeration value="GB"/>
          <xs:enumeration value="GD"/>
          <xs:enumeration value="GE"/>
          <xs:enumeration value="GF"/>
          <xs:enumeration value="GG"/>
          <xs:enumeration value="GH"/>
          <xs:enumeration value="GI"/>
          <xs:enumeration value="GL"/>
          <xs:enumeration value="GM"/>
          <xs:enumeration value="GN"/>
          <xs:enumeration value="GP"/>
          <xs:enumeration value="GQ"/>
          <xs:enumeration value="GR"/>
          <xs:enumeration value="GS"/>
          <xs:enumeration value="GT"/>
          <xs:enumeration value="GU"/>
          <xs:enumeration value="GW"/>
          <xs:enumeration value="GY"/>
          <xs:enumeration value="HK"/>
          <xs:enumeration value="HM"/>
          <xs:enumeration value="HN"/>
          <xs:enumeration value="HR"/>
          <xs:enumeration value="HT"/>
          <xs:enumeration value="HU"/>
          <xs:enumeration value="ID"/>
          <xs:enumeration value="IE"/>
          <xs:enumeration value="IL"/>
          <xs:enumeration value="IM"/>
          <xs:enumeration value="IN"/>
          <xs:enumeration value="IO"/>
          <xs:enumeration value="IQ"/>
          <xs:enumeration value="IR"/>
          <xs:enumeration value="IS"/>
          <xs:enumeration value="IT"/>
          <xs:enumeration value="JE"/>
          <xs:enumeration value="JM"/>
          <xs:enumeration value="JO"/>
          <xs:enumeration value="JP"/>
          <xs:enumeration value="KE"/>
          <xs:enumeration value="KG"/>
          <xs:enumeration value="KH"/>
          <xs:enumeration value="KI"/>
          <xs:enumeration value="KM"/>
          <xs:enumeration value="KN"/>
          <xs:enumeration value="KP"/>
          <xs:enumeration value="KR"/>
          <xs:enumeration value="KW"/>
          <xs:enumeration value="KY"/>
          <xs:enumeration value="KZ"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="LB"/>
          <xs:enumeration value="LC"/>
          <xs:enumeration value="LI"/>
          <xs:enumeration value="LK"/>
          <xs:enumeration value="LR"/>
          <xs:enumeration value="LS"/>
          <xs:enumeration value="LT"/>
          <xs:enumeration value="LU"/>
          <xs:enumeration value="LV"/>
          <xs:enumeration value="LY"/>
          <xs:enumeration value="MA"/>
          <xs:enumeration value="MC"/>
          <xs:enumeration value="MD"/>
          <xs:enumeration value="ME"/>
          <xs:enumeration value="MF"/>
          <xs:enumeration value="MG"/>
          <xs:enumeration value="MH"/>
          <xs:enumeration value="MK"/>
          <xs:enumeration value="ML"/>
          <xs:enumeration value="MM"/>
          <xs:enumeration value="MN"/>
          <xs:enumeration value="MO"/>
          <xs:enumeration value="MP"/>
          <xs:enumeration value="MQ"/>
          <xs:enumeration value="MR"/>
          <xs:enumeration value="MS"/>
          <xs:enumeration value="MT"/>
          <xs:enumeration value="MU"/>
          <xs:enumeration value="MV"/>
          <xs:enumeration value="MW"/>
          <xs:enumeration value="MX"/>
          <xs:enumeration value="MY"/>
          <xs:enumeration value="MZ"/>
          <xs:enumeration value="NA"/>
          <xs:enumeration value="NC"/>
          <xs:enumeration value="NE"/>
          <xs:enumeration value="NF"/>
          <xs:enumeration value="NG"/>
          <xs:enumeration value="NI"/>
          <xs:enumeration value="NL"/>
          <xs:enumeration value="NO"/>
          <xs:enumeration value="NP"/>
          <xs:enumeration value="NR"/>
          <xs:enumeration value="NU"/>
          <xs:enumeration value="NZ"/>
          <xs:enumeration value="OM"/>
          <xs:enumeration value="PA"/>
          <xs:enumeration value="PE"/>
          <xs:enumeration value="PF"/>
          <xs:enumeration value="PG"/>
          <xs:enumeration value="PH"/>
          <xs:enumeration value="PK"/>
          <xs:enumeration value="PL"/>
          <xs:enumeration value="PM"/>
          <xs:enumeration value="PN"/>
          <xs:enumeration value="PR"/>
          <xs:enumeration value="PS"/>
          <xs:enumeration value="PT"/>
          <xs:enumeration value="PW"/>
          <xs:enumeration value="PY"/>
          <xs:enumeration value="QA"/>
          <xs:enumeration value="RE"/>
          <xs:enumeration value="RO"/>
          <xs:enumeration value="RS"/>
          <xs:enumeration value="RU"/>
          <xs:enumeration value="RW"/>
          <xs:enumeration value="SA"/>
          <xs:enumeration value="SB"/>
          <xs:enumeration value="SC"/>
          <xs:enumeration value="SD"/>
          <xs:enumeration value="SE"/>
          <xs:enumeration value="SG"/>
          <xs:enumeration value="SH"/>
          <xs:enumeration value="SI"/>
          <xs:enumeration value="SJ"/>
          <xs:enumeration value="SK"/>
          <xs:enumeration value="SL"/>
          <xs:enumeration value="SM"/>
          <xs:enumeration value="SN"/>
          <xs:enumeration value="SO"/>
          <xs:enumeration value="SR"/>
          <xs:enumeration value="ST"/>
          <xs:enumeration value="SV"/>
          <xs:enumeration value="SX"/>
          <xs:enumeration value="SY"/>
          <xs:enumeration value="SZ"/>
          <xs:enumeration value="TC"/>
          <xs:enumeration value="TD"/>
          <xs:enumeration value="TF"/>
          <xs:enumeration value="TG"/>
          <xs:enumeration value="TH"/>
          <xs:enumeration value="TJ"/>
          <xs:enumeration value="TK"/>
          <xs:enumeration value="TL"/>
          <xs:enumeration value="TM"/>
          <xs:enumeration value="TN"/>
          <xs:enumeration value="TO"/>
          <xs:enumeration value="TR"/>
          <xs:enumeration value="TT"/>
          <xs:enumeration value="TV"/>
          <xs:enumeration value="TW"/>
          <xs:enumeration value="TZ"/>
          <xs:enumeration value="UA"/>
          <xs:enumeration value="UG"/>
          <xs:enumeration value="UM"/>
          <xs:enumeration value="US"/>
          <xs:enumeration value="UY"/>
          <xs:enumeration value="UZ"/>
          <xs:enumeration value="VA"/>
          <xs:enumeration value="VC"/>
          <xs:enumeration value="VE"/>
          <xs:enumeration value="VG"/>
          <xs:enumeration value="VI"/>
          <xs:enumeration value="VN"/>
          <xs:enumeration value="VU"/>
          <xs:enumeration value="WF"/>
          <xs:enumeration value="WS"/>
          <xs:enumeration value="YE"/>
          <xs:enumeration value="YT"/>
          <xs:enumeration value="ZA"/>
          <xs:enumeration value="ZM"/>
          <xs:enumeration value="ZW"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CompatibilityTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="ASSEMBLY"/>
          <xs:enumeration value="SPECIFICATIONS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CompatibleVehicleTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="AU_CARS_AND_TRUCKS"/>
          <xs:enumeration value="CA_CARS_AND_TRUCKS"/>
          <xs:enumeration value="DE_CARS_AND_TRUCKS"/>
          <xs:enumeration value="DE_MOTORCYCLES"/>
          <xs:enumeration value="DE_SCOOTERS"/>
          <xs:enumeration value="DEFAULT_VALUE"/>
          <xs:enumeration value="ES_CARS_AND_TRUCKS"/>
          <xs:enumeration value="FR_CARS_AND_TRUCKS"/>
          <xs:enumeration value="IT_CARS_AND_TRUCKS"/>
          <xs:enumeration value="UK_CARS_AND_TRUCKS"/>
          <xs:enumeration value="UK_MOTORCYCLES"/>
          <xs:enumeration value="UK_SCOOTERS"/>
          <xs:enumeration value="US_ATV"/>
          <xs:enumeration value="US_ATV_UTV"/>
          <xs:enumeration value="US_BOATS"/>
          <xs:enumeration value="US_CARS_AND_TRUCKS"/>
          <xs:enumeration value="US_GOLF_CARTS"/>
          <xs:enumeration value="US_MOTORCYCLES"/>
          <xs:enumeration value="US_POWERSPORTS"/>
          <xs:enumeration value="US_SCOOTERS"/>
          <xs:enumeration value="US_SNOWMOBILES"/>
          <xs:enumeration value="US_WATERCRAFTS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ErrorDetailV3">
        <xs:sequence>
          <xs:element name="category" type="xs:string"/>
          <xs:element name="domain" type="xs:string"/>
          <xs:element name="errorId" type="xs:integer"/>
          <xs:element name="inputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="longMessage" type="xs:string"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="outputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="parameters" type="ns:ErrorParameterV3" maxOccurs="unbounded"/>
          <xs:element name="subdomain" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorParameterV3">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ItemCondition">
        <xs:sequence>
          <xs:element name="conditionDescription" type="xs:string"/>
          <xs:element name="conditionId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ItemConditionPolicy">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="itemConditionRequired" type="xs:boolean"/>
          <xs:element name="itemConditions" type="ns:ItemCondition" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ItemConditionPolicyResponse">
        <xs:sequence>
          <xs:element name="itemConditionPolicies" type="ns:ItemConditionPolicy" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListingStructurePolicy">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="variationsSupported" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListingStructurePolicyResponse">
        <xs:sequence>
          <xs:element name="listingStructurePolicies" type="ns:ListingStructurePolicy" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NegotiatedPricePolicy">
        <xs:sequence>
          <xs:element name="bestOfferAutoAcceptEnabled" type="xs:boolean"/>
          <xs:element name="bestOfferAutoDeclineEnabled" type="xs:boolean"/>
          <xs:element name="bestOfferCounterEnabled" type="xs:boolean"/>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NegotiatedPricePolicyResponse">
        <xs:sequence>
          <xs:element name="negotiatedPricePolicies" type="ns:NegotiatedPricePolicy" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReturnPolicy">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="required" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReturnPolicyResponse">
        <xs:sequence>
          <xs:element name="returnPolicies" type="ns:sel:ReturnsPolicy" maxOccurs="unbounded"/>
          <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SalesTaxJurisdiction">
        <xs:sequence>
          <xs:element name="salesTaxJurisdictionId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SalesTaxJurisdictions">
        <xs:sequence>
          <xs:element name="salesTaxJurisdictions" type="ns:SalesTaxJurisdiction" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetSalesTaxJurisdictionsRestRequest" type="ns:GetSalesTaxJurisdictionsRestRequest"/>
      <xs:element name="GetSalesTaxJurisdictionsRestResponse" type="ns:GetSalesTaxJurisdictionsRestResponse"/>
      <xs:complexType name="GetSalesTaxJurisdictionsRestRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSalesTaxJurisdictionsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:SalesTaxJurisdictions">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForAutoPartsCompatibilityRestRequest" type="ns:GetPoliciesForAutoPartsCompatibilityRestRequest"/>
      <xs:element name="GetPoliciesForAutoPartsCompatibilityRestResponse" type="ns:GetPoliciesForAutoPartsCompatibilityRestResponse"/>
      <xs:complexType name="GetPoliciesForAutoPartsCompatibilityRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForAutoPartsCompatibilityRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AutomotivePartsCompatibilityPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForItemConditionRestRequest" type="ns:GetPoliciesForItemConditionRestRequest"/>
      <xs:element name="GetPoliciesForItemConditionRestResponse" type="ns:GetPoliciesForItemConditionRestResponse"/>
      <xs:complexType name="GetPoliciesForItemConditionRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForItemConditionRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ItemConditionPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForListingStructuresRestRequest" type="ns:GetPoliciesForListingStructuresRestRequest"/>
      <xs:element name="GetPoliciesForListingStructuresRestResponse" type="ns:GetPoliciesForListingStructuresRestResponse"/>
      <xs:complexType name="GetPoliciesForListingStructuresRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForListingStructuresRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ListingStructurePolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForNegotiatedPriceRestRequest" type="ns:GetPoliciesForNegotiatedPriceRestRequest"/>
      <xs:element name="GetPoliciesForNegotiatedPriceRestResponse" type="ns:GetPoliciesForNegotiatedPriceRestResponse"/>
      <xs:complexType name="GetPoliciesForNegotiatedPriceRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForNegotiatedPriceRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:NegotiatedPricePolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetPoliciesForReturnsRestRequest" type="ns:GetPoliciesForReturnsRestRequest"/>
      <xs:element name="GetPoliciesForReturnsRestResponse" type="ns:GetPoliciesForReturnsRestResponse"/>
      <xs:complexType name="GetPoliciesForReturnsRestRequest">
        <xs:sequence>
          <xs:element name="filter" type="xs:string" valid="string"/>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPoliciesForReturnsRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:ReturnPolicyResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetSalesTaxJurisdictions" method="GET" resource="country/{countryCode}/sales_tax_jurisdiction">
      <wsdl:input message="ns:GetSalesTaxJurisdictionsRestRequest"/>
      <wsdl:output message="ns:GetSalesTaxJurisdictionsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForAutoPartsCompatibility" method="GET" resource="marketplace/{marketplace_id}/get_automotive_parts_compatibility_policies">
      <wsdl:input message="ns:GetPoliciesForAutoPartsCompatibilityRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForAutoPartsCompatibilityRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForItemCondition" method="GET" resource="marketplace/{marketplace_id}/get_item_condition_policies">
      <wsdl:input message="ns:GetPoliciesForItemConditionRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForItemConditionRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForListingStructures" method="GET" resource="marketplace/{marketplace_id}/get_listing_structure_policies">
      <wsdl:input message="ns:GetPoliciesForListingStructuresRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForListingStructuresRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForNegotiatedPrice" method="GET" resource="marketplace/{marketplace_id}/get_negotiated_price_policies">
      <wsdl:input message="ns:GetPoliciesForNegotiatedPriceRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForNegotiatedPriceRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetPoliciesForReturns" method="GET" resource="marketplace/{marketplace_id}/get_return_policies">
      <wsdl:input message="ns:GetPoliciesForReturnsRestRequest"/>
      <wsdl:output message="ns:GetPoliciesForReturnsRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
