wsdls/Taxonomy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:complexType name="AncestorReference">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryName" type="xs:string"/>
          <xs:element name="categorySubtreeNodeHref" type="xs:string"/>
          <xs:element name="categoryTreeNodeLevel" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Aspect">
        <xs:sequence>
          <xs:element name="aspectConstraint" type="ns:AspectConstraint"/>
          <xs:element name="aspectValues" type="ns:AspectValue" maxOccurs="unbounded"/>
          <xs:element name="localizedAspectName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AspectConstraint">
        <xs:sequence>
          <xs:element name="aspectDataType" type="xs:string"/>
          <xs:element name="aspectEnabledForVariations" type="xs:boolean"/>
          <xs:element name="aspectFormat" type="xs:string"/>
          <xs:element name="aspectMode" type="xs:string"/>
          <xs:element name="aspectRequired" type="xs:boolean"/>
          <xs:element name="itemToAspectCardinality" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AspectDataTypeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="DATE"/>
          <xs:enumeration value="NUMBER"/>
          <xs:enumeration value="STRING"/>
          <xs:enumeration value="STRING_ARRAY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="AspectMetadata">
        <xs:sequence>
          <xs:element name="aspects" type="ns:Aspect" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AspectModeEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="FREE_TEXT"/>
          <xs:enumeration value="SELECTION_ONLY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="AspectValue">
        <xs:sequence>
          <xs:element name="localizedValue" type="xs:string"/>
          <xs:element name="valueConstraints" type="ns:ValueConstraint" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseCategoryTree">
        <xs:sequence>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="categoryTreeVersion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Category">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="categoryName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CategorySubtree">
        <xs:sequence>
          <xs:element name="categorySubtreeNode" type="ns:CategoryTreeNode"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="categoryTreeVersion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CategorySuggestion">
        <xs:sequence>
          <xs:element name="category" type="ns:Category"/>
          <xs:element name="categoryTreeNodeAncestors" type="ns:AncestorReference" maxOccurs="unbounded"/>
          <xs:element name="categoryTreeNodeLevel" type="xs:integer"/>
          <xs:element name="relevancy" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CategorySuggestionResponse">
        <xs:sequence>
          <xs:element name="categorySuggestions" type="ns:CategorySuggestion" maxOccurs="unbounded"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="categoryTreeVersion" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CategoryTree">
        <xs:sequence>
          <xs:element name="applicableMarketplaceIds" type="ns:MarketplaceIdEnum" maxOccurs="unbounded"/>
          <xs:element name="categoryTreeId" type="xs:string"/>
          <xs:element name="categoryTreeVersion" type="xs:string"/>
          <xs:element name="rootCategoryNode" type="ns:CategoryTreeNode"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CategoryTreeNode">
        <xs:sequence>
          <xs:element name="category" type="ns:Category"/>
          <xs:element name="categoryTreeNodeLevel" type="xs:integer"/>
          <xs:element name="childCategoryTreeNodes" type="ns:CategoryTreeNode" maxOccurs="unbounded"/>
          <xs:element name="leafCategoryTreeNode" type="xs:boolean"/>
          <xs:element name="parentCategoryTreeNodeHref" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ItemToAspectCardinalityEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="MULTI"/>
          <xs:enumeration value="SINGLE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MarketplaceIdEnum">
        <xs:restriction base="xs:token">
          <xs:enumeration value="EBAY_AT"/>
          <xs:enumeration value="EBAY_AU"/>
          <xs:enumeration value="EBAY_BE"/>
          <xs:enumeration value="EBAY_CA"/>
          <xs:enumeration value="EBAY_CH"/>
          <xs:enumeration value="EBAY_DE"/>
          <xs:enumeration value="EBAY_ES"/>
          <xs:enumeration value="EBAY_FR"/>
          <xs:enumeration value="EBAY_GB"/>
          <xs:enumeration value="EBAY_HK"/>
          <xs:enumeration value="EBAY_IE"/>
          <xs:enumeration value="EBAY_IN"/>
          <xs:enumeration value="EBAY_IT"/>
          <xs:enumeration value="EBAY_MOTORS_US"/>
          <xs:enumeration value="EBAY_MY"/>
          <xs:enumeration value="EBAY_NL"/>
          <xs:enumeration value="EBAY_PH"/>
          <xs:enumeration value="EBAY_PL"/>
          <xs:enumeration value="EBAY_RU"/>
          <xs:enumeration value="EBAY_SG"/>
          <xs:enumeration value="EBAY_US"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ValueConstraint">
        <xs:sequence>
          <xs:element name="applicableForLocalizedAspectName" type="xs:string"/>
          <xs:element name="applicableForLocalizedAspectValues" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorDetailV3">
        <xs:sequence>
          <xs:element name="category" type="xs:string"/>
          <xs:element name="domain" type="xs:string"/>
          <xs:element name="errorId" type="xs:integer"/>
          <xs:element name="inputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="longMessage" type="xs:string"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="outputRefIds" type="xs:string" maxOccurs="unbounded"/>
          <xs:element name="parameters" type="ns:ErrorParameterV3" maxOccurs="unbounded"/>
          <xs:element name="subdomain" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorParameterV3">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetADefaultCategoryTreeIdRestRequest" type="ns:GetADefaultCategoryTreeIdRestRequest"/>
      <xs:element name="GetADefaultCategoryTreeIdRestResponse" type="ns:GetADefaultCategoryTreeIdRestResponse"/>
      <xs:complexType name="GetADefaultCategoryTreeIdRestRequest">
        <xs:sequence>
          <xs:element name="marketplace_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetADefaultCategoryTreeIdRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:BaseCategoryTree">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetACategoryTreeRestRequest" type="ns:GetACategoryTreeRestRequest"/>
      <xs:element name="GetACategoryTreeRestResponse" type="ns:GetACategoryTreeRestResponse"/>
      <xs:complexType name="GetACategoryTreeRestRequest">
        <xs:sequence>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetACategoryTreeRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CategoryTree">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetACategorySubtreeRestRequest" type="ns:GetACategorySubtreeRestRequest"/>
      <xs:element name="GetACategorySubtreeRestResponse" type="ns:GetACategorySubtreeRestResponse"/>
      <xs:complexType name="GetACategorySubtreeRestRequest">
        <xs:sequence>
          <xs:element name="category_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetACategorySubtreeRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CategorySubtree">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetSuggestedCategoriesRestRequest" type="ns:GetSuggestedCategoriesRestRequest"/>
      <xs:element name="GetSuggestedCategoriesRestResponse" type="ns:GetSuggestedCategoriesRestResponse"/>
      <xs:complexType name="GetSuggestedCategoriesRestRequest">
        <xs:sequence>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="q" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSuggestedCategoriesRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:CategorySuggestionResponse">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:element name="GetItemAspectsForCategoryRestRequest" type="ns:GetItemAspectsForCategoryRestRequest"/>
      <xs:element name="GetItemAspectsForCategoryRestResponse" type="ns:GetItemAspectsForCategoryRestResponse"/>
      <xs:complexType name="GetItemAspectsForCategoryRestRequest">
        <xs:sequence>
          <xs:element name="category_id" type="xs:string" valid="string" required="true"/>
          <xs:element name="category_tree_id" type="xs:string" valid="string" required="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetItemAspectsForCategoryRestResponse" restResponse="true">
        <xs:complexContent>
          <xs:extension base="ns:AspectMetadata">
            <xs:sequence>
              <xs:element name="errors" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
              <xs:element name="warnings" type="ns:ErrorDetailV3" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:documentation>
    <Version>v1_beta</Version>
  </wsdl:documentation>
  <wsdl:portType>
    <wsdl:operation name="GetADefaultCategoryTreeId" method="GET" resource="get_default_category_tree_id">
      <wsdl:input message="ns:GetADefaultCategoryTreeIdRestRequest"/>
      <wsdl:output message="ns:GetADefaultCategoryTreeIdRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetACategoryTree" method="GET" resource="category_tree/{category_tree_id}">
      <wsdl:input message="ns:GetACategoryTreeRestRequest"/>
      <wsdl:output message="ns:GetACategoryTreeRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetACategorySubtree" method="GET" resource="category_tree/{category_tree_id}/get_category_subtree">
      <wsdl:input message="ns:GetACategorySubtreeRestRequest"/>
      <wsdl:output message="ns:GetACategorySubtreeRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetSuggestedCategories" method="GET" resource="category_tree/{category_tree_id}/get_category_suggestions">
      <wsdl:input message="ns:GetSuggestedCategoriesRestRequest"/>
      <wsdl:output message="ns:GetSuggestedCategoriesRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType>
    <wsdl:operation name="GetItemAspectsForCategory" method="GET" resource="category_tree/{category_tree_id}/get_item_aspects_for_category">
      <wsdl:input message="ns:GetItemAspectsForCategoryRestRequest"/>
      <wsdl:output message="ns:GetItemAspectsForCategoryRestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
