test/fixtures/downloads/FindingAPI/1/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsd="http://testing-namespace"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xs:schema>

      <xsd:complexType name="AnotherType">
        <xs:sequence>
          <xs:element name="foo" type="xs:string"/>
          <xs:element name="bar" type="xs:string"/>
        </xs:sequence>
      </xsd:complexType>

      <xs:complexType name="Base64BinaryType">
        <xs:simpleContent>
          <xs:extension base="xs:base64Binary">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="BooleanType">
        <xs:simpleContent>
          <xs:extension base="xs:boolean">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="ComplexType">
        <xs:complexContent>
          <xs:extension base="tns:AnotherType">
            <xs:sequence>
              <xs:element name="BISH" type="xs:string"/>
              <xs:element name="BOSHBish" type="xs:string"/>
              <xs:element name="eBay" type="xs:string"/>
              <xs:element name="AnotherType" type="tns:AnotherType"/>
              <xs:element name="uri" type="xs:anyURI"/>
              <xs:element name="binary" type="xs:base64Binary"/>
              <xs:element name="boolean" type="xs:boolean"/>
              <xs:element name="DateTime" type="xs:dateTime"/>
              <xs:element name="decimal" type="xs:decimal"/>
              <xs:element name="double" type="xs:double"/>
              <xs:element name="duration" type="xs:duration"/>
              <xs:element name="float" type="xs:float"/>
              <xs:element name="integer" type="xs:int"/>
              <xs:element name="long" type="xs:long"/>
              <xs:element name="string" type="xs:string"/>
              <xs:element name="time" type="xs:time"/>
              <xs:element name="token" type="xs:token"/>
              <xs:element name="enumString" type="tns:EnumStringType"/>
              <xs:element name="enumToken" type="tns:EnumTokenType"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
        <xs:attribute name="uriArr" type="xs:anyURI"/>
        <xs:attribute name="binaryArr" type="xs:base64Binary"/>
        <xs:attribute name="booleanArr" type="xs:boolean"/>
        <xs:attribute name="DateTimeArr" type="xs:dateTime"/>
        <xs:attribute name="decimalArr" type="xs:decimal"/>
        <xs:attribute name="doubleArr" type="xs:double"/>
        <xs:attribute name="durationArr" type="xs:duration"/>
        <xs:attribute name="floatArr" type="xs:float"/>
        <xs:attribute name="integerArr" type="xs:int"/>
        <xs:attribute name="longArr" type="xs:long"/>
        <xs:attribute name="stringArr" type="xs:string"/>
        <xs:attribute name="timeArr" type="xs:time"/>
        <xs:attribute name="tokenArr" type="xs:token"/>
        <xs:attribute name="enumStringArr" type="tns:EnumStringType"/>
        <xs:attribute name="enumTokenArr" type="tns:EnumTokenType"/>
      </xs:complexType>

      <xs:complexType name="DecimalType">
        <xs:simpleContent>
          <xs:extension base="xs:decimal">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="DoubleType">
				<xs:simpleContent>
          <xs:extension base="xs:double">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="IntegerType">
        <xs:simpleContent>
          <xs:extension base="xs:int">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="StringType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="TokenType">
        <xs:simpleContent>
          <xs:extension base="xs:token">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="URIType">
        <xs:simpleContent>
          <xs:extension base="xs:anyURI">
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:simpleType name="EnumStringType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ValueOne">
            <xs:annotation>
              <xs:documentation>
                Value One
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Value Two">
            <xs:annotation>
              <xs:documentation>Value Two</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Value  Three">
            <xs:annotation>
              <xs:documentation>Value Three</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="EnumTokenType">
        <xs:restriction base="xs:token">
          <xs:enumeration value="Four"/>
          <xs:enumeration value="Five"/>
          <xs:enumeration value="Six"/>
        </xs:restriction>
      </xs:simpleType>

      <!-- 
        These elements contain complexType with no names.
        If we transform these by mistake we will end up trying to create two files with 
        the same name which results in the error below.

        Cannot write more than one result document to the same URI
      -->
      <xs:element>
        <xs:complexType>
        </xs:complexType>
      </xs:element>

      <xs:element>
        <xs:complexType>
        </xs:complexType>
      </xs:element>

    </xs:schema>
  </wsdl:types>
</wsdl:definitions>
